/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	=====================

	Grid

	=====================

*/


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.material-icons.md-dark { 
	color: rgba(0, 0, 0, 0.36); 
	font-size: 20.5px;
}

#googlelogo {
	display: inline-block;
    margin: 20px;
	position: fixed;
	top: 32.5%;
	left: 49%;
	transform: translate(-50%, -50%);
	padding: 0px;
}

.search {
	display: inline-block;
	position: fixed;
	top: 40%;
	left: 47.35%;
	transform: translate(-50%, -50%);
	margin: 50.25px;
	padding: 0px;
	
}

.talk {
	display: inline-block;
	position: fixed;
	top: 55%;
	left: 100%;
	transform: translate(-50%, -50%);
	margin: 0px;
	padding: 0px 8px;
	
}

.examine {
	display: inline-block;
	position: fixed;
	top: 55%;
	left: 5%;
	transform: translate(-50%, -50%);
	margin: 0px;
	padding: 0px 13px 0px 0px;
	
}

.search input[type=text] {
	padding: 1px 40px 1px 52px;
	border: 0.03px solid rgba(99, 99, 99, 0.15);
	border-radius: 30px;
	font-size: 16px;
	width: 575px;
	height: 43px;
	outline: none;
  }

.search:hover {
	border-radius: 30px;
	box-shadow: 0 0 6px rgba(33,33,33,.2);
  }

.topbar {
	display: flex;
	align-items: center;
	padding: 6px;
	height: 60px;
	flex-shrink: 0;
	box-sizing: border-box;
}  

.leftsection:first-of-type {
	margin-left: 15px;
}  

.leftsection {
	display: inline-block;
	padding: 5px;
	margin: 0px 5px;
	color: #222;
}

.rightsection_box {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 1;
	height: 48px;
}

.rightsection:first-of-type {
	color: #fff;
	cursor: pointer;
	padding: 9px 23px;
	margin: 5.5px 8px;
	background: #1a73e8;
	font-size: 14px;
	letter-spacing: .25px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-block;
}

.rightsection.object {
	padding: 0px 12px;
	display: inline-block;
	height: 40px;
	width: 40px;
	opacity: 1;
}


  
/*.container {
	margin: 10px auto;
	padding-left: 30px;
    padding-right: 30px;
	width: 960px;
  }*/